@charset "UTF-8";

@media (min-width : 600px ) {

/* 전체 */
body{
	margin: 0;
}		
#All-content{
	height: 100%;
}

	
/* image div */
.info-A {
	order: 1;
}

/* image */
.img-title1 {
	margin: 0 120px 50px; 
	width: 550px;
	height: 700px;
    float: left;
}

#cusinfo {
	font-size: 1.2rem;
	float : right;
	display: flex;
    order: 1;
}

/* 정보 */
#info {
	margin: 80px 0 30px;
    font-size: 1.2rem;
	text-align: left;
    display: block;
	/*  order: 1; */
}

/* 결제 방법 */
#datepicker{
	display: flex;
}

.paysubmit {
	display: flex;
	margin: 20px 0 20px;
	order: 4;
}

form{
	display: inline-block;
}

/* 버튼 */
button{
	background-color: black;
	margin: 60px 200 50px;
	border-radius: 10px;
	font-size: 20px;
	display: block;
	width: 550px;
	height: 50px;
	color: white;
}
}